<!doctype html>
<html lang="en">
    <head>
        <script src="https://voxlight.github.io/global.js"></script>
        <script>
            HTMLImporter.import("https://voxlight.github.io/templates/imports.html");
        </script>
        <script>
            HTMLImporter.import("https://voxlight.github.io/templates/navbar.html");
        </script>
    </head>
    <body>

        
    </body>
    <script>
        HTMLImporter.import("https://voxlight.github.io/templates/footer.html");
    </script>
</html>