
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://voxlight.github.io">VoxSite</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="https://voxlight.github.io/home">Home <span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://voxlight.github.io/about">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://voxlight.github.io/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>